/*  ====================
    Fonts
==================== */
@font-face {
    font-family: "Aileron";
    src: url("../fonts/Aileron-Light.woff2") format("woff2");
    src: url("../fonts/Aileron-Light.otf") format("opentype");
    font-weight: 300;
}

@font-face {
    font-family: "Aileron";
    src: url("../fonts/Aileron-Regular.woff2") format("woff2");
    src: url("../fonts/Aileron-Regular.otf") format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: "Aileron";
    src: url("../fonts/Aileron-Bold.woff2") format("woff2");
    src: url("../fonts/Aileron-Bold.otf") format("opentype");
    font-weight: 700;
}

@font-face {
    font-family: "Aileron";
    src: url("../fonts/Aileron-Heavy.woff2") format("woff2");
    src: url("../fonts/Aileron-Heavy.otf") format("opentype");
    font-weight: 800;
}

@font-face {
    font-family: "Barriecito";
    src: url("../fonts/Barriecito-Regular.woff2") format("woff2");
    src: url("../fonts/Barriecito-Regular.woff") format("woff");
    src: url("../fonts/Barriecito-Regular.ttf") format("truetype");
    font-weight: normal;
}


/*  ====================
    Base Styles
==================== */
body {
    font-family: "Aileron", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;

    font-weight: 300;
}

li,
p {
    line-height: 1.7;
}

::selection {
    color: #ffffff;
    background-color: #446c87;
}


/*  ====================
    Images
==================== */
.hero {
    padding: 15em 0;

    background: linear-gradient(to bottom, #446c8773, #30495a60), url("https://ccmx290.github.io/nonprofit-website-martinez/media/banners.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.donate-img {
    padding: 7em 0;

    background: linear-gradient(to bottom, #446c8773, #30495a60), url("https://ccmx290.github.io/nonprofit-website-martinez/media/colima-volcanos.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/*  ====================
    Typography
==================== */
h1, h2,
.tagline,
.donate-img {
    font-family: "Barriecito", "Aileron", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif; 
}

h1, h2, h3, h4, h5, h6 {
    color: #ad4e2b !important;
}


/*  ====================
    Links
==================== */
a {
    color: #446c87;
    font-weight: 400;
}

a:hover {
    color: #30495a;
    text-decoration: none;
}

a:active {
    color: #162631;
}

a:focus-visible {
    color: #30495a;
    outline: 2px solid #30495a;
    background-color: #eff6fa;
    text-decoration: none;
}

footer a {
    color: #ad4e2b;
}

footer a:hover {
    text-decoration: underline !important;
    color: #722d13;
}

/* Adds link to website/brand name so clicking on it leads back to the home page, as an additional form of navigation */
h1 a {
    color: #ad4e2b;
    text-decoration: none;
}


/*  ====================
    Forms & Buttons
==================== */
input,
textarea,
button {
    font-weight: 300 !important;
    font-family: inherit !important;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus{
    outline: 2px solid #30495a !important;
}

.btn-primary {
    background-color: #446c87;
    border-color: #446c87;
}

.btn:active {
    background-color: #162631 !important;
}

.btn:hover,
.btn:focus {
    background-color: #30495a;
}